html {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
}

a {
  color: #fff;
  transition: .4s ease;
}

a:hover {
  opacity: .75;
}

body {
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 1rem 3rem;
}

figure {
  margin: 0;
}

figcaption {
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
}


h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

input {
  padding: .25rem .5rem;
  color: gray;
  font-size: 1.3rem;
  outline: none;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
}


.container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-start
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;
  position: relative;
  text-align: center;
}

.card > img {
  object-fit: cover;
}

.card-name {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  color: #fff;
  position: absolute;
  width: 100%;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
